.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 2rem auto;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 1rem auto;
  border: none;
}

input,
textarea {
  width: inherit;
}
